<div class="form-group login-form">
    <div class="input-group">
        <span class="input-group-addon" aria-describedby="loginInput"> Login </span>
        <input type="text" class="form-control" #loginInput />
    </div>

    <div class="input-group">
        <span class="input-group-addon"> Password </span>
        <input type="password" class="form-control" #passwordInput />
    </div>

    <div>
        <button (click)="loginUser(loginInput.value, passwordInput.value)" class="btn btn-primary"> Login </button>
    </div>
</div>